<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <!--<ion-list>-->
    <template [ngIf]="_pollslist.length>0">

      <!--<ion-item-group  *ngFor="let poll of _pollslist" class="poll_list" (click)="_ShowPoll(poll.ID, poll.USER_ALREADY_VOTE)">-->
        <!--<ion-item-divider color="white" text-wrap>{{poll?.TITLE}}</ion-item-divider>-->
      <!--</ion-item-group>-->

      <button  ion-item *ngFor="let poll of _pollslist" text-wrap class="poll_list" (click)="_ShowPoll(poll.ID, poll.USER_ALREADY_VOTE)">
        {{poll?.TITLE}}
      </button>

      <!--<poll *ngIf="_pollclicked" [pollid]="_pollid" [isvoted]="_isvoted"></poll>-->
      <!--<ion-item *ngFor="let poll of _pollslist" text-wrap>-->
        <!--<p>-->
          <!--{{poll?.TITLE}}-->
        <!--</p>-->
        <!--<poll id="{{poll.ID}}" [pollid]="poll?.ID"></poll>-->
      <!--</ion-item>-->
    </template>

    <template [ngIf]="_pollslist.length<1">
      <ion-item text-center>
        {{_leng?.polls_empty}}

      </ion-item>


    </template>

  <!--</ion-list>-->

  <!--</ion-content>-->
  <!--<ion-footer>-->
  <!--<ion-fab center bottom (click)="navCtrl.popToRoot()">-->
  <!--<button ion-fab color="danger">-->
  <!--<ion-icon name="home"></ion-icon>-->
  <!--</button>-->
  <!--</ion-fab>-->
  <!--<ion-toolbar color="primary">-->
  <!--</ion-toolbar>-->
  <!--</ion-footer>-->
