page-object-detail {
  ion-card {
    margin: 0!important;
    //width: 100%!important;
  }

  ion-card .card-img {
    position: relative;
    // height: 200px;
    overflow: hidden;
  }

  ion-card img {
    height: auto;
    border: 1px solid #eee;
    max-height: 200px;
    object-fit: cover;
  }



  ion-card .card-date {
    //position: absolute;
    //background: #ea2749;
    //bottom: 20px;
    //color: #ffffff;
    ////width: 120px;
    //// padding: 10px;
    //padding-top: 7px;
    //padding-bottom: 7px;
    //padding-left: 9px;
    //padding-right: 9px;
    //text-align: center;
    ////background-color: white;
    //margin-left: 15px;
    //border-radius: 20px;
    //-moz-border-radius: 20px;
    //-webkit-border-radius: 20px;
    //font-size: 1rem;
    bottom: 20px;
    color: #ffffff;
    position: absolute;
    //top: 15px;
    //right: 20px;
    width: 120px;
    // padding: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: white;
    margin-left: 15px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 1rem;
    background: #ea2749;
    -webkit-border-radius: 20px;
  }

  ion-card ion-icon {
    margin-right: 5px;
  }
  .scroll-content {
    overflow: hidden;
  }

  ion-card .card-status {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: color($colors, primary);
    font-size: 17px;
    color: white;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ion-card ion-card-content {
    background-color: #f6f6f6;
  }
  ion-card .card-location {
    background-color: white;
    padding: 15px;
    font-size: 18px;
  }
}
