<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Опросы</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-spinner name="crescent" *ngIf="!_isready"></ion-spinner>
  <template ngFor let-question [ngForOf]="_questions">

    <ion-list radio-group>
      <ion-list-header text-wrap>
        {{question?.QUESTION}}
      </ion-list-header>
      <template ngFor let-answer [ngForOf]="question?._answers">
        <template [ngIf]="!isvoted">
          <ion-item item-content *ngIf="answer?.FIELD_TYPE == 0" text-wrap>
            <ion-label> {{answer?.MESSAGE}}</ion-label>
            <ion-radio value="{{answer.ANSWER_ID}}" (ionSelect)="_PrepareAnswer(answer, 'radio')"></ion-radio>
          </ion-item>

          <ion-item item-content *ngIf="answer?.FIELD_TYPE == 1" text-wrap>
            <ion-label>{{answer?.MESSAGE}}</ion-label>

            <ion-checkbox (ionChange)="_PrepareAnswer(answer, 'checkbox')"></ion-checkbox>
          </ion-item>
          <ion-item item-content *ngIf="answer?.FIELD_TYPE == 5">
            <ion-textarea [(ngModel)]="answer.value"
                          placeholder="{{answer?.MESSAGE}}"
                          (blur)="_PrepareAnswer(answer, 'memo')"></ion-textarea>
          </ion-item>
        </template>
        <template [ngIf]="isvoted">
          <ion-item>
            <ion-row item-content>
              <ion-col>
                {{answer?.MESSAGE}}
              </ion-col>
              <ion-col width-15 text-right>
                {{answer?.COUNTER}}
              </ion-col>
            </ion-row>
          </ion-item>
        </template>
      </template>
    </ion-list>
  </template>
  <!---->
  <button clear style="float: right" (click)="_Answer()" ion-button [disabled]="!_answersready" *ngIf="!isvoted">Ответить</button>
</ion-content>
