<ion-header>

  <ion-navbar color="primary">

    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">{{ date }}</ion-item-divider>
    <template [ngIf]="item.Free" ngFor let-item [ngForOf]="hours">
      <button ion-item (click)="showPrompt(item)">
        {{item.Hour}}:{{(item.Minutes === 0) ? '00' : (item.Minutes)}}
      </button>
    </template>
    <!--<button ion-item *ngFor="let item of hours" [disabled]="!item.Free" (click)="showPrompt(item)">-->
    <!--<ion-icon *ngIf="item.Free" color="primary" name="ios-checkmark-circle" item-left></ion-icon>-->
    <!--<ion-icon *ngIf="!item.Free" color="danger" name="ios-close-circle-outline" item-left></ion-icon>-->
    <!--{{item.Hour}}:{{(item.Minutes === 0) ? '00' : (item.Minutes)}}-->
    <!--</button>-->
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-fab center bottom (click)="navCtrl.popToRoot()">
    <button ion-fab color="danger">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="white">
    <!-- <ion-title>Footer</ion-title> -->
  </ion-toolbar>
</ion-footer>
