news-slider {
  margin-top: 4px;
  width: 90%;
  img {width: 100%; height: auto}
  .bgLayer {
    width: 100% !important;
    background-size: contain !important;
  }
  .mcSlc {
    width: 100% !important;
    background-size: contain !important;
  }
}
