page-object-add {
  input {
    margin: 0 !important;
  }
  ion-content {
  }
  .list-md .item-input:last-child {
    border: 0 !important;
  }
  form {
    width: 90%;
  }
  .scroll-content {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  ion-input {
    border-bottom: 1px solid #387ef5 !important;
  }
  ion-select {
    padding: 0 !important;
    .select-text {
      position: absolute;
      width: 100%;
    }
    .select-icon {
      position: absolute !important;
      right: 9px;
    }
  }
  ion-label {
    color: #000 !important;
  }
  * {
    margin: 0;
  }

  .user_image {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    .image_placeholder {
      width: 80px;
      height: 80px;
      background: #fff;
      border: 1px solid;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #B1B1B1;
      border-radius: 6px;
    }
  }
  .delete {
    float: right;
    margin-top: -9px;
    margin-right: -6px;
    color: #FF3D00;
  }

  //.user_image .image{
  //  position: relative;
  //  height: 64px;
  //  width: 64px;
  //  display: inline-block;
  //  margin-right: 10px;
  //}
  //.user_image img{
  //  height: 64px;
  //  width: 64px;
  //}
  //
  //.user_image .delete {
  //  position: absolute;
  //  right: -4px;
  //  top: -4px;
  //}

  .action-sheet {

  }
}
