<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Добавить заявку</ion-title>
    </ion-navbar>
</ion-header>
<!--(ngSubmit)="AddObject()"-->
<ion-content>
  <form [formGroup]="form" >
    <ion-list>
      <!--<ion-item>-->
        <!--<ion-label floating>{{_leng?.input_title}}</ion-label>-->
        <!--<ion-textarea formControlName="title"></ion-textarea>-->
      <!--</ion-item>-->
      <ion-item no-padding>
        <ion-label floating no-padding>Опишите проблему</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item no-padding>
        <ion-label  no-padding *ngIf="!form.value.category">Выберите категорию</ion-label>
        <ion-select formControlName="category">
          <ion-option value="1">Несанкционированная свалка</ion-option>
          <ion-option value="2">Дефекты дорожного покрытия</ion-option>
          <ion-option value="3">Правонарушение</ion-option>
          <ion-option value="4">Улучшим наш город</ion-option>
          <ion-option value="5">Продажа алкогольной продукции детям</ion-option>
          <ion-option value="6">Информация о ДТП</ion-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item>
        <ion-icon name="pin" color="pinky" item-left></ion-icon>
        {{location || 'Загрузка...'}}
        <ion-icon name="cancel" item-right (click)="deleteLocation()"></ion-icon>
      </ion-item> -->

    </ion-list>
    <div class="user_image">
          <div class="image_placeholder" *ngFor="let item of media; let i = index" (click)="presentActionSheet(i)">
        <ion-icon name="add-circle" *ngIf="!item.url"></ion-icon>
        <template [ngIf]="item.type === 'photo'">
          <div *ngIf="item.url" style="width: 100%; height: 100%"
               [ngStyle]="{'background': 'url('+item.url+')','border-radius': '4px', 'background-size': 'contain','background-repeat': 'no-repeat'}">
            <div class="delete" (click)="deleteMedia(i)">
              <ion-icon name="close-circle"></ion-icon>
            </div>
          </div>
        </template>
        <template [ngIf]="item.type === 'video'">
          <div *ngIf="item.url" style="width: 100%; height: 100%"
               [ngStyle]="{'background': 'url(assets/img/video.png)','border-radius': '4px', 'background-size': 'contain', 'background-repeat': 'no-repeat'}">
            <div class="delete" (click)="deleteMedia(i)">
              <ion-icon name="close-circle"></ion-icon>
            </div>
          </div>
        </template>


      </div>

      <!--<div class="image" *ngFor="let item of media; let i = index">-->
      <!--<img *ngIf="item.type === 'image'" src="{{item.url}}" />-->
      <!--<img *ngIf="item.type === 'video'" src="assets/img/video.png" />-->
      <!--<div class="delete" (click)="deleteMedia(i)">-->
      <!--<ion-icon name="close-circle"></ion-icon>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <!--<div padding>-->
    <p>
      <button ion-button outline block (click)="openMap()">Выбрать местоположение</button>
    </p>
    <!--<p>-->
    <!--<button type="button" ion-button block (click)="presentActionSheet()">Добавить фото или видео</button>-->
    <!--</p>-->

    <!--<p>-->
    <!--&lt;!&ndash; <ion-input hidden formControlName="coordinates" value={{!location.coords && }}></ion-input> &ndash;&gt;-->

    <!--</p>-->
    <!--</div>-->

    <button  ion-button outline block type="submit" (click)="AddObject()" [disabled]="!(form.valid && location.coords.length>0)">Подать заявку
    </button>
  </form>

</ion-content>

<ion-footer>
  <ion-fab center bottom (click)="navCtrl.popToRoot()">
    <button ion-fab color="danger">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="white">
    <!--<button ion-button block color="danger" type="submit" [disabled]="!(form.valid && location.coords.length>0)"-->
            <!--(click)="AddObject()">Подать заявку-->
    <!--</button>-->
  </ion-toolbar>
</ion-footer>
