<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group [hidden]="!notEmpty">
    <div *ngFor="let item of data" [hidden]="!item.time.length > 0">
      <ion-item-divider color="light">{{ item.date }}</ion-item-divider>
      <button ion-item *ngFor="let time of item.time" (click)="bookTime(item, time)">
        <ion-icon color="primary" name="ios-checkmark-circle" item-left></ion-icon>
        <!-- <ion-icon *ngIf="!day.Free" color="danger" name="ios-close-circle-outline" item-left></ion-icon> -->
        {{ time }}
      </button>
    </div>
  </ion-item-group>
  <ion-item-group [hidden]="notEmpty">
    <button ion-item disabled>
      <!-- <ion-icon color="primary" name="ios-checkmark-circle" item-left></ion-icon> -->
      <ion-icon color="danger" name="ios-close-circle-outline" item-left></ion-icon>
      Нет времени для записи
    </button>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-fab center bottom (click)="navCtrl.popToRoot()">
    <button ion-fab color="danger">
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar color="primary">
    <!--<ion-title class="footer-title">-->
    <!--Живая очередь-->
    <!--</ion-title>-->
    <ion-buttons end *ngIf="notEmpty">
      <button ion-button icon-right (click)="bookLive()">
        Записаться
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>




