<ion-menu [content]="mycontent" >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title  *ngIf="auth?.user?.user?.access_token">{{auth?.user?.user?.first_name}}</ion-title>
      <ion-buttons end *ngIf="auth?.user?.user?.access_token">
        <button ion-button (click)="_OpenCabinet()">
          <ion-icon name="cog" style="margin-left: 4px;" ></ion-icon>
        </button>
        <button ion-button (click)="exit()">
          Выйти
          <ion-icon style="margin-left: 4px;" name="log-out"></ion-icon>
        </button>

      </ion-buttons>
      <!--</template>-->
      <!--<template [ngIf]="!auth?user.access_token">-->
      <ion-title *ngIf="!auth?.user?.user?.access_token">Гость</ion-title>
      <ion-buttons end *ngIf="!auth?.user?.user?.access_token">
        <button ion-button (click)="exit()">
          Войти
          <ion-icon name="log-in"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--<page-notifications></page-notifications>-->
    <page-news-feed></page-news-feed>
  </ion-content>
  <ion-footer>
    <p ion-text color="primary" style="text-align: center; font-size: 1rem; margin: 5px 0;">
      Улучшим наш город.
    </p>
    <p ion-text color="primary" style="text-align: center; font-size: 1rem; margin: 5px 0;">
      Приложение администрации города Ханты-Мансийска.
    </p>
    <p ion-text color="primary" style="text-align: center; font-size: 1rem; margin: 5px 0;">
      Контакты для пожеланий, вопросов по приложению
    </p>
    <p ion-text color="primary" style="text-align: center; font-size: 1rem; margin: 5px 0;">
      т./ф. +7 (3467) 352-351
    </p>
    <p ion-text color="primary" style="text-align: center; font-size: 1rem; margin: 5px 0;">
      E-mail: MaksimchukPA@admhmansy.ru
    </p>


  </ion-footer>
</ion-menu>



<ion-nav #mycontent [root]="rootPage"></ion-nav>
