<ion-menu [content]="mycontent">
  <ion-header>
    <ion-toolbar color="primary">
      <!--<ion-title>-->
      <div style="margin-left:5px" *ngIf="auth.user">
        <h4 style="margin-top: 23px!important; color: #fff !important;">{{auth?.user?.first_name}} {{auth?.user?.second_name}}</h4>
        <p style="margin-top: 0px !important; color: #fff !important; margin-bottom: 1px !important;">{{auth?.user?.city?.name}}</p>
        <p *ngIf="auth?.user?.points>0" style="margin-top: 0px !important; color: #fff !important; margin-bottom: 1px !important;">{{auth?.user?.points}} баллов</p>
        <p *ngIf="auth?.user?.points<1" style="margin-top: 0px !important; color: #fff !important; margin-bottom: 1px !important;">Баллов нет</p>

        <!--<p class="p_header" style="margin-bottom: 10px;" *ngIf="!app.lastused?.user_is_courier">{{leng?.admin}}</p>-->
      </div>
      <!--</ion-title>-->
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines no-border style="margin-top: 5px;">
      <button style="
  padding-left: 10px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #DADADA !important;
  padding-top: 5px !important;
" ion-item
              *ngFor="let p of _menu_items" (click)="openPage(p)">
       {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <button style="
  padding-left: 10px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #DADADA !important;
  padding-top: 5px !important;
" ion-item  (click)="exit()" ion-text="danger">
        Выйти
      </button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>


<ion-nav #mycontent [root]="rootPage"></ion-nav>
