<ion-header>

  <ion-toolbar color="primary">
    <!--<template [ngIf]="auth?.user.access_token">-->
      <ion-title *ngIf="auth?.user.access_token">{{auth?.user?.points}} {{auth?.user?.first_name}}</ion-title>
      <ion-buttons end *ngIf="auth?.user.access_token">
        <button ion-button (click)="exit()">
          Выйти
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    <!--</template>-->
    <!--<template [ngIf]="!auth?user.access_token">-->
      <ion-title *ngIf="!auth?.user.access_token">Гость</ion-title>
      <ion-buttons end *ngIf="!auth?.user.access_token">
        <button ion-button [navPush]="HomePage">
          Войти
          <ion-icon name="log-in"></ion-icon>
        </button>
      </ion-buttons>
    <!--</template>-->
  </ion-toolbar>

</ion-header>

<ion-content>
  <!--<div class="cards">-->
    <!--<ion-card>-->
      <!--<news-slider></news-slider>-->
    <!--</ion-card>-->
  <!--</div>-->
  <!--<ion-list>-->
    <!--<button ion-item (click)=openPage(DashboardPage)>-->
      <!--<ion-icon name="ios-arrow-forward-outline" color="arrow-black" item-left></ion-icon>-->
      <!--Улучшим наш город-->
    <!--</button>-->
    <!--<button ion-item (click)=openPage(PoolsPage) [disabled]="!auth.user.access_token">-->
      <!--<ion-icon name="ios-arrow-forward-outline" color="arrow-black" item-left></ion-icon>-->
      <!--Опросы-->
    <!--</button>-->
    <!--<button ion-item (click)=navCtrl.push(OmsPage)>-->
      <!--<ion-icon name="ios-arrow-forward-outline" color="arrow-black" item-left></ion-icon>-->
      <!--Запись на приём в ОМС-->
    <!--</button>-->
    <!--<button ion-item (click)=navCtrl.push(ServicesPage)>-->
      <!--<ion-icon name="ios-arrow-forward-outline" color="arrow-black" item-left></ion-icon>-->
      <!--Запись на приём в МФЦ Югры-->
    <!--</button>-->
  <!--</ion-list>-->

  <news-slider></news-slider>
  <ion-list style="width: 90%; margin-top: 16px">
    <!--<ion-item no-border no-lines no-padding>-->
      <button ion-item no-border no-lines no-padding icon-left (click)=openPage(DashboardPage) color="content">
        <ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>
        <!--<span style="font-size: 1.8rem;">Улучшим наш город</span>-->
        Улучшим наш город
      </button>
    <button ion-item no-border no-lines no-padding icon-left (click)=openPage(PoolsPage) color="content">
      <ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>
      <!--<span style="font-size: 1.8rem;">Опросы</span>-->
      Опросы
    </button>
    <button ion-item no-border no-lines no-padding icon-left (click)=navCtrl.push(OmsPage) color="content">
      <ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>
      Запись на прием в ОМС
      <!--<span style="font-size: 1.8rem;">Запись на прием в ОМС</span>-->
    </button>
    <button ion-item no-border no-lines no-padding icon-left  (click)=navCtrl.push(ServicesPage) color="content">
      <ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>
      Запись на прием в МФЦ ЮГРЫ
      <!--<span style="font-size: 1.8rem;">Запись на прием в МФЦ ЮГРЫ</span>-->
    </button>
    <!--</ion-item>-->
    <!--<ion-item no-border no-lines no-padding>-->
      <!--<button ion-button clear block icon-left text-capitalize color="dark" (click)=openPage(PoolsPage)>-->
        <!--<ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>-->
        <!--<span style="font-size: 1.8rem;">Опросы</span>-->
      <!--</button>-->
    <!--</ion-item>-->
    <!--<ion-item no-border no-lines no-padding>-->
      <!--<button ion-button clear block icon-left text-capitalize color="dark" (click)=navCtrl.push(OmsPage)>-->
        <!--<ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>-->
        <!--<span style="font-size: 1.8rem;">Запись на прием в ОМС</span>-->
      <!--</button>-->
    <!--</ion-item>-->
    <!--<ion-item no-border no-lines no-padding>-->
      <!--<button text-left ion-button clear block icon-left text-capitalize color="dark" (click)=navCtrl.push(ServicesPage)>-->
        <!--<ion-icon name="arrow-dropright-circle" color="primary"></ion-icon>-->
        <!--<span style="font-size: 1.8rem;"> Запись на прием в МФЦ ЮГРЫ</span>-->
      <!--</button>-->
    <!--</ion-item>-->

  </ion-list>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <div class="img_list">
      <div class="item">
        <ion-thumbnail item-left>
          <img src="assets/img/card-saopaolo.png">
        </ion-thumbnail>
      </div>
      <div class="item">
        <ion-thumbnail item-left>
          <img src="assets/img/card-saopaolo.png">
        </ion-thumbnail>
      </div>
      <div class="item">
        <ion-thumbnail item-left>
          <img src="assets/img/card-saopaolo.png">
        </ion-thumbnail>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->
